<h1>
    ASP.NET Core MVC6 Lightweight Gulp Template
</h1>

<h3>Don't forget to run "gulp build-watcher" task inside the Task Runner Explorer to watch for changes and test in web browser accordingly.</h3>

<div>
    This is pretty much empty .NET Core MVC6 template prepared to use the Gulp instead of default .NET Core bundles. 
    You can find out more at <a href="http://www.ivansivak.net/blog/aspnet-core-mvc6-gulp-template" target="_blank">http://www.ivansivak.net/blog/aspnet-core-mvc6-gulp-template</a>
</div>

<h1></h1>